<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Café y bordados. Carrito de compras">
    <title>Café y Bordados - Cart</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/png" href="../img/logo_cyb.png">
</head>

<body>

    <header class="main-header">
        <nav class="main-nav">
            <a href="../index.html"><img class="logo-link" src="../img/logo_cyb.png" alt="logo café y bordados"></a>
        </nav>
    </header>

    <main>

        <section class="section total-section" id="total-s" aria-labelledby="total-titulo">
            <h2 id="total-titulo" class="section-title">Total del Carrito</h2>
        </section>

        <section class="section cart-section" aria-labelledby="cart-titulo">
            <h2 id="cart-titulo" class="section-title">Carrito de Compras</h2>
            <div id="cart-items" class="grid images-grid"></div>
            <!-- Producots del carrito-->
        </section>
    </main>

    <script src="../js/get_cart.js"></script>

</body>

</html>